div {
    width: 50%;
    float: left;
  }
  img {
    width: 100%;
    height: 700px;
  }
  #PageName{
    color:rgb(9, 211, 247);
  }
  .ToTheLeft {
    float:left;
  }
  .ToTheRight {
    float:right;
  }
  