div {
    width: 50%;
    float: left;
  }
  img {
    width:100%;
    height: 300px;
  }
  #PageName{
    color:rgb(255,25,25);
  }
  .ToTheLeft {
    float:left;
  }
  .ToTheRight {
    float:right;
  }
  