div {
    width: 50%;
    float: left;
  }
  img {
    width: 150%;
    height: 200px;
  }
  #PageName{
    color:rgb(0, 0, 0);
  }
  .ToTheLeft {
    float:left;
  }
  .ToTheRight {
    float:right;
  }
  